modules = ["python-3.12", "bash", "python-3.9"]
run = "streamlit run shi_field_configurator.py"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "streamlit run shi_field_configurator.py"]

[[ports]]
localPort = 8501
externalPort = 80

[workflows]
runButton = "Run Streamlit"

[[workflows.workflow]]
name = "Run Streamlit"
author = 44346122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run shi_field_configurator.py --server.address 0.0.0.0 --server.port 8501 --server.headless true"
